/* src/index.css */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #F3F4F6; /* 어드민 배경색과 통일 */
  overflow: hidden; /* 브라우저 기본 스크롤바 숨김 */
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}